.app-ocDashboard .widget.tasks .content .newTask {
    display:           none;
    padding: 20px;
}

.app-ocDashboard .widget.tasks .content .addTask {
    padding:           10px;
}

.app-ocDashboard .widget.tasks .content .tasks span {
    color: gray;
}
.app-ocDashboard .widget.tasks .content .tasks span:hover {
    color: black;
    cursor: pointer;
}