.app-ocDashboard .widget.tasks .content .newTask {
    display:           none;
    padding: 20px;
}

.app-ocDashboard .widget.tasks .content .addTask {
    padding:           10px;
}

.app-ocDashboard .widget.tasks .content .tasks span {
    color: gray;
}
.app-ocDashboard .widget.tasks .content .tasks span:hover {
    color: black;
    cursor: pointer;
}

.app-ocDashboard .widget.tasks .content .calendarColor {
    display: inline;
    padding-left: 5px;
    font-size: 2em;
}
.app-ocDashboard .widget.tasks .content h3 {
    display: inline;
    padding-top: 5px;
}


.app-ocDashboard .widget.tasks .content .addTask, .app-ocDashboard .widget.tasks .content span {
    display: none;
}